@charset "UTF-8";
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

body {
  background-color: #F8FAFE;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, 微软雅黑;
  background-repeat: repeat-y;
  background-position: center;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f8fafed1;
  backdrop-filter: blur(10px);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
